rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    function isValidString(text, max) {
      return text is string && text.size() > 0 && text.size() <= max;
    }

    match /members/{memberId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /events/{eventId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /projects/{projectId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /registrations/{registrationId} {
      allow read, update, delete: if isAdmin();
    }
    
    match /applications/{applicationId} {
      allow read, update, delete: if isAdmin();
    }

    match /contestants/{contestantId} {
        allow read: if true;
        allow write: if isAdmin();
    }

    match /admins/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /messages/{messageId} {
      allow create: if isValidString(request.resource.data.name, 100)
                    && isValidString(request.resource.data.email, 100)
                    && isValidString(request.resource.data.message, 2000)
                    && request.resource.data.read == false;
      allow read, update, delete: if isAdmin();
    }
  }
}
