rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /members/{memberId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /events/{eventId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /projects/{projectId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /registrations/{registrationId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }
    
    match /applications/{applicationId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /joinApplications/{applicationId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /contestants/{contestantId} {
        allow read: if true;
        allow write: if isAdmin();
    }

    match /admins/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
